* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#home_page {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 12px;
}
